nav{
     gap:20px;
    display:flex;
     background-color:rgb(191, 255, 0);
     width:420px;
     
}
.colour
{
    color:red;
    text-decoration:none;
    font-size:20px;
}
h1{
    color:blueviolet;
}
img
{
    height:200px;
}